@import url(http://fonts.googleapis.com/css?family=Rosario);

@mixin round_edges($radius) {
  -webkit-border-bottom-right-radius: $radius;
  -webkit-border-bottom-left-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -moz-border-radius-bottomleft: $radius;
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}
@mixin selection($bg, $color){
  ::selection {
    background:$bg;
    color:$color;
  }
  ::-moz-selection {
    background:$bg;
    color:$color;
  }
  ::-webkit-selection {
    background:$bg;
    color:$color;
  }
}

@include selection(#BC66BC, #222);

body {
  font-family: Rosario;
  margin: 0 auto;
  background-color: #DDD;
}
ul {
  padding: 0;
  float: right;
  margin: 0 auto;
  list-style-type:none;

  &#skills {
    float: none;

    li {
      margin-bottom: 5px;
      float: left;
      margin-right: 5px;
    }
  }
}
header {
  padding: 1px 0;
  background-color: #AAA;
}
h1 {
  color: #444;
  padding: 10px;
  margin: 0 auto;
  text-shadow: 0px 0px 2px #888;

  .subtitle {
    color: #666;
  }
}
nav {
  margin: 0 auto;
  padding-bottom: 60px;

  ul li {
    float: left;
    margin-left: 15px;

    a {
     @include round_edges(5px);
      background-color: #EEE;
      padding: 5px;
      box-shadow: 0 0 3px 3px #CCC;
      display:block;

      &:hover {
        background-color: #DDD;
      }
    }
  }
}
#wrapper {
  width: 70%;
  min-width: 726px;
  margin: 0 auto;
}
#inner {
  clear: both;
  margin: 0 auto;
  -moz-box-shadow: 0 0 3px 3px #CCC;
  -webkit-box-shadow: 0 0 3px 3px #CCC;
  box-shadow: 0 0 3px 3px #CCC;
  background-color: #EEE;
  position: relative;
  z-index: 99;
}
#content {
  height: 154px;
  -moz-box-shadow: inset 0 0 25px #AAA;
  -webkit-box-shadow: inset 0 0 25px #AAA;
  box-shadow: inset 0 0 25px #AAA;

  h1 {
    padding-top: 30px;
  }
}
#container {
  max-height: 215px;
}
#avatar {
  float:left;
}
.button {
  background-color: #CCC;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 4px 7px 6px 7px;
  -moz-box-shadow: inset 0 0 6px #444;
  -webkit-box-shadow: inset 0 0 6px #444;
  box-shadow: inset 0 0 6px #444;
}
#bio-container {
  background-color: transparent;
  margin-left: 215px;
  margin-right: 25px;
  margin-top: -5px;
  position: relative;
  z-index: 50;
}
#rupee {
  float: left;
  margin-top: 13px;
  margin-left: -210px;
}
#biowrap {
  @include round_edges(25px);
  -moz-box-shadow: 0 0 3px 3px #CCC;
  -webkit-box-shadow: 0 0 3px 3px #CCC;
  box-shadow: 0 0 3px 3px #CCC;
}
#skills {
  padding-top: 10px;
}
#bio {
  @include round_edges(25px);
  -moz-box-shadow: inset 0 0 25px #888;
  -webkit-box-shadow: inset 0 0 25px #888;
  box-shadow: inset 0 0 25px #888;
  background-color: #CCC;
  padding: 20px;
  min-height:175px;
}
